# Web Framework
fastapi==0.104.1
hypercorn==0.18.0
python-multipart==0.0.6

# Database
sqlalchemy==2.0.23
alembic==1.13.0
psycopg2-binary==2.9.9

# Data Validation
pydantic==2.5.0
pydantic-settings==2.1.0
email-validator==2.1.0

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.1

# SRS Algorithm
fsrs[optimizer]==6.3.1

# Environment
python-dotenv==1.0.0

# Utilities
requests==2.31.0
aiokafka==0.13.0
boto3 == 1.42.72
redis==7.3.0
grpcio==1.78.0
grpcio-tools==1.78.0